@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  background: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.section-header {
  margin-bottom: 25px;
  color: #3e3d3d;
  font: 400 20px "Amsdam", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.44px; }

.section-paragraph {
  color: #3e3d3d;
  font: 400 14px/20px "Crimson Text", serif;
  letter-spacing: 1.4px; }

.section-button {
  width: 135px;
  height: 39px;
  border: 2px solid #3e3d3d;
  color: #3e3d3d;
  background-color: transparent;
  font: 700 13px "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
  outline: none; }
  .section-button:hover {
    background-color: #aaa; }

.top-menu {
  background-color: #fff;
  padding-top: 20px; }
  @media (max-width: 345px) {
    .top-menu {
      padding-bottom: 25px; } }

.logo {
  display: flex;
  align-items: baseline;
  color: #757575;
  font: 700 18px/50px "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .logo span {
    margin-left: 10px; }
  .logo:hover {
    text-decoration: none;
    color: #3e3d3d; }

@media (max-width: 345px) {
  .burger {
    position: absolute;
    right: 5px;
    top: 44px; } }

.navbar {
  padding-right: 0; }
  @media (min-width: 991px) {
    .navbar {
      padding-top: 0; } }

.nav {
  border: none;
  align-items: flex-end; }
  @media (max-width: 991px) {
    .nav {
      flex-direction: column;
      align-items: flex-end; } }

.nav-item {
  padding: 10px; }
  .nav-item:hover {
    color: #fff;
    background-color: #d8d8d8;
    border-radius: 5px; }

.nav-link {
  padding: 0;
  color: #aaa;
  font: 400 12px "Montserrat", sans-serif;
  text-transform: uppercase; }
  .nav-link:hover {
    color: #3e3d3d; }

@media (min-width: 1200px) {
  .menu-container {
    padding-left: 100px; } }

@media (max-width: 345px) {
  .menu-container {
    margin-top: 25px; } }

.social-list {
  display: flex;
  padding: 0; }
  .social-list .social-list-item {
    margin-right: 5px; }
    .social-list .social-list-item i {
      color: #aaa; }
    .social-list .social-list-item .fa-twitter {
      padding: 0 5px;
      border-left: 1px solid #aaa;
      border-right: 2px solid #aaa; }
      .social-list .social-list-item .fa-twitter:hover {
        color: cyan;
        cursor: pointer; }
    .social-list .social-list-item .fa-facebook:hover {
      color: blue;
      cursor: pointer; }
    .social-list .social-list-item .fa-behance:hover {
      color: #000;
      cursor: pointer; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.slider {
  background: #000 url("../img/first-bg.png") center/cover no-repeat;
  min-height: 700px;
  text-align: center;
  padding: 100px 0; }

.carousel {
  max-height: 470px; }

.carousel-item {
  text-align: center; }

.carousel-content-wrapper {
  max-width: 516px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0; }
  .carousel-content-wrapper .carousel-content-wrapper_item {
    text-align: center;
    /*.wave:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 10px;
      background-size: 20px 10px;
      background-image: radial-gradient(circle at 10px -5px, #fff 12px, transparent 12px);
    }
    .wave:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      right: 0;
      height: 10px;
      background-size: 20px 10px;
      background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 12px);
    }*/ }
    @media (max-width: 630px) {
      .carousel-content-wrapper .carousel-content-wrapper_item {
        max-width: 320px;
        margin: 0 auto; } }
    .carousel-content-wrapper .carousel-content-wrapper_item p {
      color: #fff;
      font: 400 14px/50px "Crimson Text", serif;
      letter-spacing: 1.4px; }
    .carousel-content-wrapper .carousel-content-wrapper_item h1 {
      margin: 35px 0;
      color: #fff;
      font: 400 36px "Amsdam", sans-serif;
      letter-spacing: 1px; }
    .carousel-content-wrapper .carousel-content-wrapper_item .wave {
      max-width: 516px;
      width: 100%;
      height: 5px;
      background: url("../img/wave-white.png") top; }

.control-icon-size {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.button {
  width: 150px;
  height: 45px;
  margin-top: 45px;
  position: relative;
  border: 2px solid #f2f2f2;
  background-color: transparent;
  color: #fff;
  font: 700 15px/40px "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: capitalize;
  outline: none; }
  .button:hover {
    background-color: #aaa;
    color: #3e3d3d;
    border: 2px solid #3e3d3d; }
  .button .Arrow {
    position: absolute;
    bottom: -45px;
    left: 65px; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.about {
  text-align: center;
  padding: 75px 0 65px; }
  .about__section-header {
    margin-top: 60px; }
  .about__section-paragraph {
    max-width: 1026px;
    margin: 45px auto;
    padding: 0 15px; }
  .about__container {
    padding: 0 0 50px;
    background-color: #fff; }
  .about__section-button {
    background-color: #3e3d3d;
    color: #cecece; }
    .about__section-button:hover {
      color: #3e3d3d; }

.bg-img {
  width: 100%;
  height: 325px;
  background-image: url("../img/about-bg.png"); }

.stat-list {
  margin-top: 35px; }
  .stat-list .stat-list-item:nth-child(-n+3) {
    border-right: 1px solid #b0b0b0; }

.stat-list-item-caption {
  max-width: 75px;
  margin: 20px auto 30px;
  color: #3e3d3d;
  font: 700 13px "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.stat-list-item-number {
  color: #3e3d3d;
  font: 700 45px "Montserrat", sans-serif; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.services {
  padding: 70px 0 85px;
  background: url("../img/services-bg.png") center/cover no-repeat;
  text-align: center; }
  .services__section-header {
    color: #fff; }
  .services__section-paragraph {
    max-width: 1026px;
    margin: 40px auto 70px;
    color: #cfcfcf; }

.services-list-item {
  max-width: 270px;
  position: relative;
  border: 2px solid #d8d8d8;
  border-top: none;
  margin-top: 20px;
  padding-bottom: 40px; }
  .services-list-item__section-paragraph {
    max-width: 203px;
    margin: 0 auto;
    color: #fff; }
  .services-list-item h5 {
    max-width: 105px;
    margin: 60px auto 25px;
    color: #d8d8d8;
    font: 700 13px "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  .services-list-item i {
    position: absolute;
    top: -15px;
    right: 45%;
    color: #fff; }

.services-border1 {
  border-top: 2px solid #d8d8d8;
  width: 90px;
  position: absolute;
  left: 0; }
  @media (max-width: 400px) {
    .services-border1 {
      width: 80px; } }

.services-border2 {
  border-top: 2px solid #d8d8d8;
  width: 90px;
  position: absolute;
  right: -1px; }
  @media (max-width: 400px) {
    .services-border2 {
      width: 80px; } }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.history {
  padding: 60px 0 80px;
  text-align: center;
  background-color: #ededed; }
  .history__section-header {
    margin-top: 0; }
  .history__section-paragraph {
    max-width: 1010px;
    margin: 40px auto; }

#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto; }

.timeline-start, .timeline-center {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #3e3d3d;
  text-align: center; }

.timeline-center {
  position: absolute;
  left: 50%;
  top: 85%;
  margin-left: -38px;
  background-color: #ededed; }
  @media (max-width: 400px) {
    .timeline-center {
      top: 89%; } }

.timeline-end {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #3e3d3d;
  text-align: center;
  margin: 0 auto; }
  .timeline-end i {
    font-size: 1.5em;
    color: #fff; }

.conference-center-line {
  position: absolute;
  width: 2px;
  height: 93%;
  top: 73px;
  left: 50%;
  margin-left: -2px;
  background: #3e3d3d; }
  @media (max-width: 500px) {
    .conference-center-line {
      height: 94%; } }
  @media (max-width: 354px) {
    .conference-center-line {
      height: 95%; } }

#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px; }

.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  text-align: left; }
  .timeline-article h6 {
    color: #3e3d3d;
    font: 700 13px/18px "Montserrat", sans-serif;
    text-transform: uppercase; }
  .timeline-article span {
    color: #3e3d3d;
    font: 700 11px/18px "Montserrat", sans-serif; }
  .timeline-article p {
    margin: 0;
    max-width: 480px;
    color: #3e3d3d;
    font: 400 14px/20px "Crimson Text", serif;
    letter-spacing: 1.5px; }

.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%; }

.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  background-color: transparent;
  border: 1px solid #3e3d3d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03); }

.content-left {
  padding: 30px 70px 30px 30px; }

.content-right {
  padding: 30px 30px 30px 70px; }

.timeline-article .content-left-container {
  float: left;
  margin-left: 37px;
  margin-top: 10px; }

.timeline-article .content-right-container {
  float: right;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 110px; }

.container-colored {
  background-color: #3e3d3d; }
  .container-colored h6, .container-colored span, .container-colored p {
    color: #fff; }

.timeline-article .content-left:before,
.timeline-article .content-right:before {
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #3e3d3d; }

.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px; }

.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px; }

.timeline-article .meta-date {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 17px;
  height: 17px;
  margin-left: -10px;
  border-radius: 100%;
  background: #000; }
  .timeline-article .meta-date:last-child {
    top: 70px; }

@media (max-width: 830px) {
  .timeline-article .content-left-container {
    margin-left: 20px; }
  .timeline-article .content-right-container {
    margin-right: 20px; }
  .content-left, .content-right {
    padding: 25px; } }

@media (max-width: 600px) {
  .timeline-article .content-left-container {
    margin-left: 15px; }
  .timeline-article .content-right-container {
    margin-right: 15px; }
  .content-left, .content-right {
    padding: 10px; } }

@media (max-width: 500px) {
  .timeline-article .content-left-container {
    margin-left: 5px; }
  .timeline-article .content-right-container {
    margin-right: 5px; }
  .content-left, .content-right {
    padding: 5px; } }

/*@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
}*/
@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.team {
  padding: 70px 0;
  background: url("../img/Team-bg.png") center/cover no-repeat;
  text-align: center; }
  .team__section-paragraph {
    max-width: 988px;
    margin: 40px auto; }

.team-list-item {
  position: relative;
  margin-top: 20px; }

.team-caption {
  height: 321px;
  width: 256px;
  position: absolute;
  padding: 210px 0 30px 20px;
  bottom: 8px;
  left: 22px;
  text-align: left;
  background-color: #f6f6f6;
  opacity: 0; }
  @media (max-width: 1199px) {
    .team-caption {
      left: 32px; } }
  @media (max-width: 991px) {
    .team-caption {
      left: 231px; } }
  @media (max-width: 767px) {
    .team-caption {
      left: 141px; } }
  @media (max-width: 575px) {
    .team-caption {
      left: 160px; } }
  @media (max-width: 550px) {
    .team-caption {
      left: 10%; } }
  .team-caption:hover {
    opacity: 0.7;
    cursor: pointer; }
  .team-caption h6 {
    color: #3e3d3d;
    font: 700 13px/18px "Montserrat", sans-serif;
    letter-spacing: 1.5px; }
  .team-caption span {
    display: block;
    position: relative;
    margin-bottom: 10px;
    color: #3e3d3d;
    font: italic 14px/18px "Crimson Text", serif; }
    .team-caption span::after {
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 40%;
      background-color: #3e3d3d;
      left: 0;
      top: 20px; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.portfolio {
  padding-top: 80px;
  text-align: center;
  background-color: #fff; }
  .portfolio__section-paragraph {
    max-width: 988px;
    margin: 40px auto 50px; }
  .portfolio__section-button-1, .portfolio__section-button-2, .portfolio__section-button-3, .portfolio__section-button-4 {
    width: 100%;
    height: 31px;
    font-size: 11px;
    text-transform: uppercase; }
    .portfolio__section-button-1:hover, .portfolio__section-button-2:hover, .portfolio__section-button-3:hover, .portfolio__section-button-4:hover {
      color: #fff;
      background-color: #3e3d3d; }
  .portfolio__section-button-1 {
    max-width: 59px; }
  .portfolio__section-button-2 {
    max-width: 100px; }
  .portfolio__section-button-3 {
    max-width: 132px; }
  .portfolio__section-button-4 {
    max-width: 86px;
    margin-top: 10px; }

.grid {
  max-width: 1600px;
  margin: 60px auto 0;
  background-color: #242424; }
  .grid:after {
    content: '';
    display: block;
    clear: both; }

.grid-sizer,
.grid-item {
  width: 399px;
  height: 252px; }
  @media (max-width: 400px) {
    .grid-sizer,
    .grid-item {
      width: 320px; } }

.grid-item {
  float: left; }
  .grid-item img {
    display: block;
    width: 100%; }

.grid-item--height2 {
  height: 417px; }

.grid-item--height3 {
  height: 271px; }

.grid-item--height4 {
  height: 303px; }

.grid-item--height5 {
  height: 385px; }

.grid-item--height6 {
  height: 230px; }

.grid-item--height7 {
  height: 459px; }

.grid-item--height8 {
  height: 436px; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.prices {
  padding: 70px 0 90px;
  text-align: center;
  background-color: #e3e3e3; }
  .prices__section-paragraph {
    max-width: 988px;
    margin: 40px auto 80px; }

.price-list-item {
  max-width: 369px;
  margin: 10px 20px;
  padding: 45px 0 60px;
  background-color: #fff; }
  .price-list-item h6 {
    color: #3e3d3d;
    font: 700 13px/18px "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  .price-list-item span {
    position: relative;
    color: #3e3d3d;
    font: 700 70px "Montserrat", sans-serif; }
    .price-list-item span::before {
      display: block;
      position: absolute;
      right: 102%;
      content: "$";
      font-size: 24px; }
  .price-list-item p {
    max-width: 175px;
    margin: 50px auto;
    color: #3e3d3d;
    font: italic 16px/30px "Crimson Text", serif; }

.icon-wrapper {
  width: 51px;
  height: 50px;
  margin: 25px auto 35px;
  border: 2px solid #3e3d3d;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .icon-wrapper::after {
    display: block;
    position: absolute;
    left: 49px;
    content: "";
    height: 1px;
    width: 90px;
    background-color: #3e3d3d; }
  .icon-wrapper::before {
    display: block;
    position: absolute;
    right: 49px;
    content: "";
    height: 1px;
    width: 90px;
    background-color: #3e3d3d; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.looking {
  padding: 35px 0 40px;
  background-color: #2d2d2f;
  text-align: center; }
  .looking h4 {
    color: #d8d8d8;
    font: 700 16px/18px "Montserrat", sans-serif;
    letter-spacing: 2px; }
  .looking p {
    margin-top: 20px;
    color: #888;
    font: italic 16px/20px "Crimson Text", serif; }
  .looking__section-button {
    border: 2px solid #e3e3e3;
    color: #e3e3e3; }
    .looking__section-button:hover {
      background-color: #3e3d3d; }
  .looking .looking-button {
    padding-bottom: 10px; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.blog {
  text-align: center;
  padding-top: 80px; }
  .blog__section-paragraph {
    max-width: 988px;
    margin: 40px auto 80px; }
  .blog__container-fluid {
    max-width: 1600px; }

.blog-image {
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }

.blog-text {
  max-width: 400px;
  width: 100%;
  max-height: 412px;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 30px;
  text-align: left;
  background-color: #232325; }
  @media (max-width: 400px) {
    .blog-text {
      max-height: 100%; } }
  .blog-text span {
    position: relative;
    color: #e3e3e3;
    font: italic 12px/18px "Crimson Text", serif; }
    .blog-text span::after {
      display: block;
      content: "";
      height: 1px;
      background-color: #565656;
      width: 151px;
      position: absolute;
      top: 25px; }
  .blog-text h6 {
    margin: 30px 0 35px;
    color: #e3e3e3;
    font: 400 13px "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  .blog-text p {
    max-width: 316px;
    color: #949494;
    font: 400 14px/20px "Crimson Text", serif;
    letter-spacing: 1.5px; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.clients {
  background-color: #fff;
  text-align: center;
  padding: 80px 0 125px; }
  .clients__section-paragraph {
    max-width: 988px;
    margin: 40px auto 75px; }
  .clients li {
    margin-top: 20px; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.testimonial {
  padding: 70px 0;
  text-align: center;
  background: url("../img/test-bg.png") center/cover no-repeat; }
  .testimonial__carousel-content-wrapper_item {
    margin-bottom: 45px; }
    .testimonial__carousel-content-wrapper_item p {
      max-width: 800px;
      margin: 55px auto;
      padding: 0 15px;
      position: relative;
      color: #efefef;
      font: italic 20px/24px "Crimson Text", serif; }
    .testimonial__carousel-content-wrapper_item h6 {
      margin-bottom: 18px;
      color: #e3e3e3;
      font: 400 13px "Montserrat", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px; }
    .testimonial__carousel-content-wrapper_item span {
      color: #e3e3e3;
      font: italic 14px "Crimson Text", serif; }
    .testimonial__carousel-content-wrapper_item .quote-left, .testimonial__carousel-content-wrapper_item .quote-right {
      position: absolute;
      color: #efefef;
      font: italic 93px "Crimson Text", serif; }
    .testimonial__carousel-content-wrapper_item .quote-left {
      left: -1%;
      top: -30%; }
      @media (max-width: 991px) {
        .testimonial__carousel-content-wrapper_item .quote-left {
          left: 0; } }
      @media (max-width: 400px) {
        .testimonial__carousel-content-wrapper_item .quote-left {
          top: 0;
          left: -4%; } }
    .testimonial__carousel-content-wrapper_item .quote-right {
      right: 20%;
      top: -50%; }
      @media (max-width: 991px) {
        .testimonial__carousel-content-wrapper_item .quote-right {
          right: 2%; } }
      @media (max-width: 767px) {
        .testimonial__carousel-content-wrapper_item .quote-right {
          right: 10%;
          top: 0; } }
      @media (max-width: 400px) {
        .testimonial__carousel-content-wrapper_item .quote-right {
          right: 5%;
          top: 50%; } }

.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 100%;
  cursor: pointer; }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.myMap {
  width: 100%;
  height: 515px;
  filter: grayscale(100%); }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.footer {
  padding: 50px 0;
  background-color: #292929;
  text-align: justify; }
  .footer__section-button {
    color: #949494; }
    .footer__section-button:hover {
      background-color: #3e3d3d;
      color: #fff; }
  .footer a {
    margin-bottom: 40px; }
  .footer p {
    max-width: 361px;
    color: #949494;
    font: 400 14px/20px "Crimson Text", serif;
    letter-spacing: 1.5px; }
  .footer h6, .footer .footer-span {
    color: #e3e3e3;
    font: 400 13px "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  .footer h6 {
    margin: 25px 0; }
  .footer .footer-span {
    margin-top: 30px; }
    .footer .footer-span span:hover {
      cursor: pointer;
      color: #949494; }
  .footer ul {
    margin-top: 30px;
    margin-bottom: 20px; }

.form-input, .form-textarea {
  margin-bottom: 22px;
  padding: 22px;
  border: 2px solid #464646;
  background-color: transparent;
  color: #949494;
  font: italic 14px "Crimson Text", serif;
  letter-spacing: 1.5px;
  outline: none; }
  .form-input:hover, .form-textarea:hover {
    background-color: #3e3d3d; }
  .form-input:focus, .form-textarea:focus {
    background-color: transparent;
    color: #fff; }

.form-input {
  max-width: 373px;
  width: 100%;
  height: 56px; }

.form-textarea {
  max-width: 776px;
  width: 100%;
  height: 100px;
  max-height: 100px;
  min-height: 90px; }

.footer-border {
  max-width: 1169px;
  width: 100%;
  border-top: 1px solid #3e3e3e;
  margin: 60px auto 40px; }
