header{
	background-color: #3695ff;
	background-image: url(../images/2-layers.png);
}
.cookies{
	text-align: center;
	background-color: #194277;
}
.cookies_text{
	display: inline;
	padding-right: 51px;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
}
.accept_button{
	width: 112px;
	height: 30px;
	margin-top: 22px;
	margin-bottom: 20px;
	border-radius: 15px;
	background-color: #ffffff;
	outline: none;
	color: #194277;
	font-family: Lato;
	font-size: 12px;
	font-weight: 700;
	line-height: 16.36px;
	letter-spacing: 0.55px;
}
.welcome{
	text-align: center;
}
.header_image{
	width: 185px;
	height: 185px;
	padding-top: 94px;
	padding-bottom: 53px;
}
.heading{
	width: 809px;
	height: 98px;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 42px;
	color: #ffffff;
	font-family: "Lato - Black";
	font-size: 50px;
	font-weight: 400;
	line-height: 60px;
	text-transform: uppercase;
}
.heading_text{
	width: 765px;
	height: 50px;
	margin: 0 auto;
	color: #ffffff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 300;
	line-height: 35px;
	text-transform: uppercase;
}
.hire_me_button{
	display: block;
	width: 204px;
	height: 55px;
	margin-top: 75px;
	margin-bottom: 92px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 28px;
	background-color: #ffffff;
	color: #3695ff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}
.pointer{
	width: 19px;
	height: 32px;
}
.about{
	text-align: center;
}
.about_heading{
	width: 213px;
	height: 38px;
	margin: 0 auto;
	padding-top: 98px;
	padding-bottom: 69px;
	color: #3677fd;
	font-family: Lato;
	font-size: 50px;
	font-weight: 300;
	line-height: 35.12px;
}
.about_text{
	height: 85px;
	max-width: 1170px;
	margin: 0 auto;
	padding-bottom: 115px;
	color: #5a5a5a;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}

.expert_in{
	height: 1178px;
	background-color: #f1f8ff;
}
.expert_in_heading{
	width: 195px;
	height: 45px;
	margin: 0 auto;
	padding-top: 99px;
	padding-bottom: 113px;
	color: #3677fd;
	font-family: Lato;
	font-size: 50px;
	font-weight: 300;
	line-height: 35.12px;
	text-transform: capitalize;
}
.expert_in_1,.expert_in_2,.latest_works1,.latest_works2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.expert_in_2{
	padding-top: 37px;
}
.mobile_app_design,.web_design,.web_development,
.product_design,.ux_ui,.animations{
	height: 440px;
}
.mobile_app_design,.web_design,.product_design,.ux_ui{
	margin-right:63px;
}
.mobile_image,.web_design_image,.web_development_image,
.product_design_image,.ux_ui_image,.animations_image{
	padding-bottom:100px;
}
.mobile_heading,.web_design_heading,.web_development_heading,
.product_design_heading,.ux_ui_heading,.animations_heading{
	width: 300px;
	height: 18px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 33px;
	margin-left: auto;
	color: #3677fd;
	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.mobile_text,.web_design_text,.web_development_text,
.product_design_text,.ux_ui_text,.animations_text{
	max-width: 340px;
	color: #5a5a5a;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}


.latest_works_heading{
	max-width: 285px;
	height: 38px;
	margin: 0 auto;
	padding-top: 91px;
	padding-bottom: 104px;
	color: #3677fd;
	font-family: Lato;
	font-size: 50px;
	font-weight: 300;
	line-height: 35.12px;
	text-transform: capitalize;
}
.latest_works1{
	margin-bottom: 54px;
}
.latest_works2{
	margin-bottom: 194px;
}
.work1,.work2,.work4,.work5{
	padding-right: 31px;
}
.clients_footer{
	background-color: #f1f8ff;
	text-align: center;
}
.clients_footer_heading{
	max-width: 146px;
	height: 38px;
	margin: 0 auto;
	padding-top: 94px;
	padding-bottom: 76px;
	color: #3677fd;
	font-family: Lato;
	font-size: 50px;
	font-weight: 300;
	line-height: 35.12px;
	text-transform: capitalize;
}
.clients_footer_image{
	padding-bottom: 99px;
}	
.hire_me_footer{
	text-align: center;
	background-color: #e8f3ff;
	background-image: url(../images/2-layers.png);
}
.footer_heading{
	display: inline-block;
	padding-right: 64px;
}
.need,.ready{
	height: 47px;
	color: #ffffff;
	font: 50px 'Lato', sans-serif;
	line-height: 65px;
}
.need{
	font-weight: 300;
}
.ready{
	font-weight: 700;
}
.hire_me_button_footer{
	display: inline-block;
	width: 204px;
	height: 55px;
	margin: 90px auto;
	border-radius: 28px;
	background-color: #ffffff;
	color: #3695ff;
	font: 700 16px 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}