@import "variables";

.hero {
  text-align: center;
  background: linear-gradient(to right, rgba(72, 85, 99, 0), rgba(41, 50, 60, 1)), url("../img/hero_bg.png") center;
  background-size: cover;
  opacity: 0.8;

  .hero_container {
    padding-top: 200px;
  }

  .hero_paragraph {
    max-width: 625px;
    margin: 10px auto;
  }

  .hero_button {
    background-color: transparent;
    margin: 35px 0 145px;
  }

  .hero_main-header {
    margin: 0 0 30px;
  }
}