@import "variables";

.service {
  padding: 100px 0;
  text-align: center;
  background-color: #f5f5f5;

  .service_section-header-paragraph {
    margin: 16px 0 80px;

    &::after {
      display: block;
      width: 40px;
      height: 2px;
      content: "";
      margin: 10px auto 0;
      background-color: #000;
    }
  }
}