$primari-font: 'Montserrat', sans-serif;
$primari-font-bold: 'Montserrat Bold', sans-serif;
$primari-font-italic: 'Montserrat Bold Italic', sans-serif;
$second-font: 'Open Sans', sans-serif;
$first-text-color: #29323c;
$second-text-color: #e8e8e8;
$third-color: #f2f2f2;

